<!doctype html>
<head>
    <title>Bankruptcy Search Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">

    <div class="row">
        <h1>Bankruptcy Search</h1>
        <br/><br>

        <form action="/search" method="POST">
            <p>Enter the name of the person you wish to check against the Bankruptcy register</p>
            <br/>
            <label for="forename" class="col-sm-2">Forename:</label>
            <input type="text" id="forename" name="forename" value="{{forename}}">
            {% if forename_error is defined %}
                <span class="glyphicon glyphicon-remove"style=" color:red"></span> {{forename_error}}
            {% endif %}
            <br/><br/>
            <label for="surname" class="col-sm-2">Surname:</label>
            <input type="text" id="surname" name="surname" value="{{surname}}">
            {% if surname_error is defined %}
                <span class="glyphicon glyphicon-remove" style="color:red"></span> {{surname_error}}
            {% endif %}
            <br/><br/>
            <div class="col-sm-2">
                <p>Or</p>
            </div>
            <br/><br/>
            <label for="alternative" class="col-sm-2">Alternative name:</label>
            <input type="text" id="alternative" name="alternative" value="{{alternatives}}">
            <br/><br/>
            <input class="btn btn-success pull-right" type="submit">
        </form>
    </div>
    {% if results is defined %}
        <div class="row">
            <h2>Results</h2>
            <table class="table table-hover">
                <thead>
                    <th class="col-sm-5">Name</thclass>
                    <th class="col-sm-5">Address</th>
                    <th>Nature</th>
                    <th>Date</th>
                </thead>
                {% for n in results %}
                    <tr>
                        <td>{{n.name}}</td>
                        <td>{{n.address}}</td>
                        <td>{{n.nature}}</td>
                        <td>{{n.date}}</td>
                    </tr>
                {% endfor %}
            </table>
            <br/><br/>
            <a href="index" class="btn btn-primary pull-right" >reset</a>
        </div>
    {% endif %}

<div>

</body>
